.home {
    display: flex;
}

.container {
    background: white;
    width: 650px;
    height: 400px;
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
}

/*header*/
.contaheader {
    display: flex;
    background-color: rgb(17, 17, 46);
    border-radius: 10px;
    height: 50px;
}

.headerbarra {
    background-color: rgb(187, 214, 214);
    width: 150px;
    height: 17px;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 16px;
}

.icon {

    color: aliceblue !important;
    margin-top: -4px;
    margin-left: 350px;
}

/*home*/
/*circulosprincipales*/
.container1 {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.circulo1,
.circulo2,
.circulo3 {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 20px;
}

.circulo1 {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(227, 189, 108, 1) 100%);
}

.circulo2 {
    background: rgb(76, 76, 194);
}

.circulo3 {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.raya,
.raya1,
.raya2,
.raya3 {
    background: rgb(216, 209, 209);
    border-radius: 5px;
    margin-bottom: 5px;
    height: 10px;
}

.raya {
    width: 150px;
}

.raya1 {
    width: 300px;
}

.raya2 {
    width: 250px;
}

.raya3 {
    width: 200px;
}

.circulitos {
    gap: 7px;
    display: flex;
    margin-left: 42px;
    margin-top: 10px;
}

.circulos1,
.circulos2,
.circulos3,
.circulos4,
.circulos5 {
    background: rgb(167, 160, 160);
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

/*cuadro2*/
.container2 {
    background: aliceblue;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
    height: 400px;
}

.contaheader2 {
    display: flex;
    background-color: rgb(17, 17, 46);
    border-radius: 10px;
    height: 45px;
}

.headerbarra2 {
    width: 105px;
    height: 12px;
    background: gray;
    border-radius: 3px;
    margin-top: 17px;
    margin-left: 28px;
}

.icon2 {
    color: aliceblue !important;
    margin-top: -5px;
    margin-left: 80px;
}

.container11 {
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
}

.circulouno,
.circulodos,
.circulotres,
.circulocuatro,
.circulocinco,
.circuloseis,
.circulosiete {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: rgb(223, 27, 27);
}

.rayas1 {
    margin-left: 10px;
}

.raya0,
.raya11,
.raya22,
.raya33 {
    background: #dbd9d9;
    ;
    border-radius: 3px;
    margin-bottom: 3px;
}

.raya0 {
    width: 40px;
    height: 4px;
}

.raya11 {
    width: 200px;
    height: 4px;
}

.raya22 {
    width: 150px;
    height: 4px;
}

.raya33 {
    width: 100px;
    height: 4px;
}

/*posicionamiento uno enxima del otro*/
.container {
    position: absolute;
}

.container2 {
    position: absolute;
    z-index: 2;
    top: 282px;
    left: 483px;
}
/*texto*/
.textoinformativo{
    z-index: 3;
    position: absolute;
    left: 800px;
    margin-top: 34px;
}
.titiloinfo{
    margin: 0 auto;
    color: aliceblue;
    font-size: 40px;
    font-weight: 600;
}
.textoinfo{
    color: aliceblue;
    font-size: 15px;
}