.container {
    background: white;
    width: 1000px;
    height: 600px;
    margin-left: 50px;
    border-radius: 10px;
}
/*header*/
.contaheader {
    display: flex;
    background-color: rgb(17, 17, 46);
    border-radius: 10px;
    height: 70px;
}

.headerbarra {
    background-color: rgb(187, 214, 214);
    width: 200px;
    height: 22px;
    border-radius: 5px;
    margin-left: 87px;
    margin-top: 25px;
}

.icon {
    color: aliceblue !important;
    margin-top: 6px;
    margin-left: 592px;
}
/*home*/
/*circulosprincipales*/
.container1 {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.circulo1,
.circulo2,
.circulo3 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 50px;
}
.circulo1{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(227,189,108,1) 100%);
}
.circulo2{
    background: rgb(76, 76, 194);
}
.circulo3{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


.rayas {
    margin-top: 10px;
}

.raya,
.raya1,
.raya2,
.raya3 {
    background: rgb(182, 177, 177);
    border-radius: 5px;
    margin-bottom: 5px;

}

.raya {
    width: 150px;
    height: 15px;
}

.raya1 {
    width: 400px;
    height: 15px;
}

.raya2 {
    width: 350px;
    height: 15px;
}

.raya3 {
    width: 300px;
    height: 15px;
}

.circulitos {
    gap: 7px; 
    display: flex;
    margin-left: 42px;
    margin-top: 20px;
}
.circulos1,
.circulos2,
.circulos3,
.circulos4,
.circulos5 {
    background: gray;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}